*{
margin:0;
profile:0;
}

header {
  background-color: #ab633f;
  height: 100px
}

#my_image{
  height:100%;
  width:80px;
  float:left;
  margin-top:6px;
  margin-left: 10px;
}

  div.Nookshop {
padding:35px;
font-family:"Libre Baskerville";
color: #FFF;
text-align:justify;
}

ul {
  float:right;
  height:100px;
  list-style-type:none;
  margin-top: 30px;
  margin-right: 100px;
}

ul li{
  display:inline-block;
}

ul li a{
  font-family: "Avenir Light";
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  transition: 0.6s ease;
}

ul li a:hover{
  color: #000;
}

body{
  background-color: #ddd66b;
  font-family: "Arial";
  font-size: 150%;
  color: #6d6c2b;
}

div.Welcome{
  font-family: "Arial Black";
  font-size: 300%;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  width:50%;
  text-align:center;
}

  div.FrontPage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  width: 50%;
  padding:40px;
  text-align:center;
}

div.Forum{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  text-align:center;
  margin-top:-30px;
}

div.Line{
  text-align:center;
  padding:60px;
}

button{
  background-color: transparent;
  border:transparent;
}

div.container{
width: 30px;
height: 30px;
float:right;;
}

div.container img{
width: 100%;
height: auto;
}
