*{
margin:0;
profile:0;
}

header {
  background-color: #ab633f;
  height: 10vh
}

ul {
  float:right;
  height:10vh;
  list-style-type:none;
  margin-top: 30px;
}

ul li{
  display:inline-block;
}

ul li a{
  font-family: "Avenir Light";
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

body{
  background-color: #ddd66b;
  font-family: "Arial";
  font-size: 150%;
  color: #6d6c2b;
}

div.FrontPage{
}

div.Welcome{
  font-family: "Arial Black";
  font-size: 300%;
  text-align:center;
}

#my_image{
  height:0%;
  width:7%;
  float:left;
}
